{% extends 'main/wrapper.html' %}

{% block content %}


<section>
    <div class="container-xxl">
        <iframe
            width="560"
            height="315"
            src="https://youtu.be/nNMxTwk4gI0"
            srcdoc="<style>*{padding:0;margin:0;overflow:hidden}
            html,body{height:100%}
            img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}
            span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}
            </style>
            <a href=https://youtu.be/nNMxTwk4gI0>
            <img src=https://img.youtube.com/vi/li_9PBrcOcQ/hqdefault.jpg alt='Demo video'>
            <span>▶</span>
            </a>"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            title="Demo video">
        </iframe>
    </div>
</section>
{% endblock %}
